.card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.info {
  padding: 1rem;
}

.name {
  font-size: 1.25rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 0.5rem;
}

.price {
  font-size: 1.1rem;
  font-weight: 500;
  color: #016B61; /* primary-dark */
  margin-bottom: 0.5rem;
}

.stockLow {
  color: #D9534F; /* A reddish color */
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.stockOut {
  color: #777;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.stockAvailable{
  color: #28A745; /* A green color */
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.button {
  width: 100%;
  padding: 0.75rem;
  background-color: #016B61; /* primary-dark */
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #70B2B2; /* primary */
}

.button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}